/*MOBILE HORIZONTAL Y IPAD VERTICAL*/
@media screen and  (min-width:740px) and (max-width:900px) {
  body {
      max-width: 1024px;
  }

	 .logoImg {
	    width: 90%;
	    height: auto;
	    padding: 5%;
	}

	.h1Header {
	    font-size: 2em;
	    text-align: center;
	    margin-block-start: 0px;
	    margin-block-end: 0px;
	    padding-top: 0px;
	    padding-bottom: 0px;
	}

	.contName {
	    width: 45%;
	    border-bottom: var(--primary) solid 10px;
	    align-items: center;
	    display: inline-table;
	    padding-top: 25px;
	    padding-bottom: 25px;
	    /* width: 100%; */
	    height: auto;
	}
		.contLogo {
	    height: auto;
	}

	.contRedesResposive{
    width: 35%;
    display: block;
    padding: 0px;
    height: 70%;
	}

	.contH {
	     height: 130px;
	}

	.logoRedes {
	    width: 30px;
	    padding-top: 0px;
	    padding-bottom: 0px;
	    margin: 10px 10px 0px 10px;
	}

	.credes {
	    display: grid;
	    width: 100%
	}

	.txtTel {
	    width: 100%;
	    font-size: 15px;
	}

	.telUp{
		margin: 0px; 
	}

	.ajedres {
	    width: 50%;
	    height: auto;
	    position: absolute;
	    display: block;
	    align-items: center;
	    background: white;
	    left: 50%;
	}

	.c {
	    width: 10px;
	    height: 10px;
	}

	.circleImgTittle {
	    width: 25px;
	}

	.tituloPrincipalContServ {
	    padding-left: 2%;
	    padding-right: 2%;
	    width: 96%;
	}

	.SubtitleName {
	    height: 75px;
	    display: flex;
	    justify-content: flex-end;
	    align-items: center;
	    border-bottom: var(--primary) solid 5px;
	    font-size: 2em;
	    border-radius: 0px 0px 5px 0px;
	}
		.CT {
	    width: 25px;
	    height: 25px;
	}

	.mitadHome {
	    width: 100%;
	}
	.mitadHome2 {
	    width: 0%;
	}
	.contAjedrezBig {
	    height: 42vh;
	    position: relative;
	}

	.C {
	    width: 70px;
	    height: 70px;
	}

	.button {
	    font-size: 1.5em;
	    padding: 20px;
	}

	.boxAbout {
	    top: -170px;
	    width: 98%;
	    height: 250px;
	    margin-left: 1%;
	    margin-right: 1%;
	    border-bottom: var(--primary) solid 10px;
	}

	.contAbout {
	    top: -100px;
	    width: 90%;
	    height: 100px;
	    margin-left: 5%;
	    margin-right: 5%;
	}

	.insideSlide {
	    height: 200px;
	}

	.txtContSlider {
	    padding-left: 3%;
	        width: 57%;
	}

	.txtSLiderH1 {
	    font-size: 1.5em;
	}

	.txtSLider {
	    font-size: 1em;
	}

	.imgCuenta {
	    width: 75px;
	}

	.titleGrid {
	    font-size: 2em;
	}

	.txtGridUsPlain {
	    font-size: 1em;
	}
	.ttH1 {
	    text-align: left;
	}
	.leImgTittle {
	    width: 25px;
	}

	.SubtitleName {
	    font-size: 1.2em;
	    border-radius: 0px 0px 0px 0px;
	}

	.ContAbout {
	    height: 70vh;
	    background: url(../images/HomeImage.jpeg) center  no-repeat;
	}

	.txtAnuncio1 {
	    font-size: 2.1em;
	}

	.ttsH1 {
	    text-align: left;
	}

		.imgBx {
	    height: 250px;
	}

	.imgBannerPublicidad {
	    height: 50vh;
	}


	.txtService {
	    padding-left: 5%;
	    padding-top: 5%;
	    padding-right: 5%;
	    padding-bottom: 5%;
	}

	.tService {
	    font-size: 2em;
	}

	.booletword {
	    font-size: 1.2em;
	}

	.txtAnuncio2 {
	    font-size: 2.5em;
	    margin: 0px;
	}

	.Banner {
	    height: 200px;
	    background: url(../images/imgBanner.jpeg) center  no-repeat;
	    background-size: cover;
	}


	.sliderMarcas {
	    height: 200px;
	    padding-top: 50px;
	}

	.imgMarcas {
	    height: 70px;
	}

	.slider .slide {
	    width: 200px;
	}

	.h2txtAnuncio {
	    font-size: 1em;
	}
	.textoFloat, .textoFloatBTN {
	    height: 100px;
	}
	.logoBtn {
	    width: 20px;
	}

	.imgRedes {
	    margin: 10px;
	    height: 30px;
	}

	.txtData {
	    font-size: 1em;
	    margin-inline-start: 5px;
	}

	.solidContForm {
	    height: auto;
	    position: relative;
	}
	.contForm {
		bottom: auto;
	    height: auto;
	    width: 45%;
	    right: 2%;
	    top: 10%;
	}

	.telUp {
	    margin-top: -15px;
	}
	.txtCotiza3 {
	    font-size: 1.2em;
	}

		label {
	    font-size: 1em;
	}

	input[type=text], input[type=tel], input[type=email], select {
	    width: 100%;
	    padding: 8px 10px;
	    margin: 5px 0;
	}

	.imgESR {
	    bottom: 0px;
	    right: 35%;
	    bottom: 35px;
	}

	.sliderAbout {
	    margin-bottom: -150px;
	}
	.BigAge {
	    height: 25px;
	}

	.txtNosotros {
	    font-size: 1.4em;
	}
	.contMap {
	    height: 65vh;
	}
		.imgLogoFR {
	    height: 50px;
	}
	.h2txtAnuncio {
	    font-size: 1em;
	}


	.txtCiteP {
	    font-size: 1.5em;
	}

	.boxXite {
	    margin-bottom: -112px;
	}

	.boxCite {
	    top: -120px;
	    height: 200px;
	}


	.photoGalery {
	    height: 350px;
	}

	.tittleCar {
	    font-size: 1em;
	}
	.txtTitDesc {
	    font-size: 2em;
	}

	.textDesc {
	    font-size: 1em;
	}

		.llanta {
	    width: 200px;
	    height: 200px;
	}

			#header {
	    background: url(../images/homeImg.jpeg) center no-repeat;
	}

		.circleImg {
	    width: 15px;
	}


}

/*MOBILE HORIZONTAL Y IPAD HORIZONTAL*/
@media screen and  (min-width:1000px) and (max-width:1024px) {
	.logoImg {
	    width: 90%;
	    height: auto;
	    padding: 5%;
	}
	.telUp {
	    margin-top: 0px;
	}

	.h1Header {
	    font-size: 2.2em;
	    text-align: center;
	    margin-block-start: 0px;
	    margin-block-end: 0px;
	    padding-top: 0px;
	    padding-bottom: 0px;
	}

	.contName {
	    width: 45%;
	    border-bottom: var(--primary) solid 10px;
	    align-items: center;
	    display: inline-table;
	    padding-top: 30px;
	    padding-bottom: 30px;
	    /* width: 100%; */
	    height: auto;
	}

	.contLogo {
	    height: auto;
	}

	.logoRedes {
	    width: 30px;
	    padding-top: 0px;
	    padding-bottom: 0px;
	    margin: 10px 10px 0px 10px;
	}

	.txtTel {
	    width: 100%;
	    font-size: 15px;
	}

	.contRedesResposive {
	    width: 35%;
	    display: block;
	    padding: 0px;
	    height: 70%;
	}
	.credes {
	    display: grid;
	    width: 100%;
	}

	.ajedres {
	    width: 50%;
	    height: auto;
	    position: absolute;
	    display: block;
	    align-items: center;
	    background: white;
	    left: 50%;
	}

	.c {
	    width: 13px;
	    height: 13px;
	}

	.contAjedrezBig {
	    height: 75vh;
	    position: relative;
	}
	.mitadHome {
	    width: 100%;
	}
	.mitadHome2 {
	    width: 0%;
	}

	.txtSLiderH1 {
	    font-size: 2em;
	}

	.txtSLider {
	    font-size: 1.2em;
	}

	.imgCuenta {
	    width: 75px;
	}

	.titleGrid {
	    font-size: 2em;
	}
	.txtGridUsPlain {
	    font-size: 1em;
	}

	.circleImgTittle {
	    width: 25px;
	}

	.SubtitleName {
	    font-size: 1.5em;
	    border-radius: 0px 0px 0px 0px;
	        height: 75px;
	}

	.BigAge {
	    height: 25px;
	}
	.CT {
	    width: 25px;
	    height: 25px;
	}

	.txtAnuncio1 {
	    font-size: 2.5em;
	}

	.txtAnuncio2 {
	    font-size: 3.5em;
	    margin: 0px;
	}
	.button {
	    font-size: 2em;
	    padding: 25px;
	}

	.tService {
	    font-size: 1.8em;
	}

	.booletword {
	    font-size: 1.5em;
	}

	.ContAbout {
	    background: url(../images/HomeImage.jpeg) center no-repeat;
	}

	.Banner {
	    height: 250px;
	    background: url(../images/imgBanner.jpeg) center no-repeat;
	}

	.imgBannerPublicidad {
	    height: 80vh;
	}

	.textoFloat, .textoFloatBTN {
	    height: 120px;
	}
	.h2txtAnuncio {
	    margin-bottom: -25px;
	        font-size: 1.3em;
	}
	.button {
	    font-size: 2em;
	    padding: 20px;
	}
	.logoBtn {
	    width: 25px;
	}

	.imgRedes {
	    margin: 10px;
	    height: 30px;
	}
	.txtData {
	    font-size: 1.3em;
	}

	input[type=text], input[type=tel], input[type=email], select {
	    width: 100%;
	    padding: 5px 5px;
	    margin: 5px 0;
	}
	label {
	    font-size: 1em;
	}
	.contForm {
	    bottom: auto;
	    height: auto;
	}
	.solidContForm {
	    height: auto;
	    position: relative;
	}
	.contMap {
	    height: 85vh;
	}
	.imgLogoFR {
	    height: 50px;
	}
	.txtCiteP {
	    font-size: 1.5em;
	}

		.boxCite {
	    top: -120px;
	    height: 250px;
	}

	.photoGalery {
	    height: 350px;
	    margin-top: 2%;
	    margin-bottom: 2%;
	}

	.txtTitDesc {
	    font-size: 2em;
	}

	.textDesc {
	    font-size: 1em;
	}

	.llanta {
	    width: 200px;
	    height: 200px;
	}

		#header {
	    background: url(../images/homeImg.jpeg) center no-repeat;
	}

		.circleImg {
	    width: 15px;
	}


}

/*Portatil de forma vertical */
@media screen and (max-width:450px) and (orientation: portrait){
	body {
	    max-width: 450px;
	    position: relative;
	}


	#header {
	    width: 100%;
	    background: url(../images/trasparent.png) center ;
	        background-size: cover;
	        position: relative;
	        display: block;
	}
  .contH {
	    height: auto;
	    display: block;
	}

	#myVideo {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}


	
	.contLogo {
	    width: 100%;
	    text-align: center;
	    height: auto;
	}

	.contName {
	    width: 100%;
	    height: auto;
		border-bottom: var(--primary) solid 5px;
	}

	.h1Header {
	    margin-block-start: 0px;
	    font-size: 2em;
	    text-align: center;
	}


	.logoImg {
	    width: 180px;
	    padding: 10px;
	}

	.ajedres {
	    height: 50px;
	}

	.logoRedes {
	    padding-left: 10px;
	    margin: 2px;
	}

	.tel404{
	    text-align: center;
	    padding-left: 20px;
	    padding-bottom: 5px;
	    padding-top: 5px;
	    margin: 0px;
	    font-size: 1.5em;
	}
	.txtTel {
	    width: 100%;
	}

	.telUp{
		font-size: 2em;
	    margin: 0px;
	    margin-bottom: 10px;
	}

	.c {
	    width: 10px;
	    height: 10px;
	}

	.logoRedes {
    width: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
	}


	.contAjedrezBig {
	    height: 65vh;
	    padding-bottom: 30px;
	    width: 100%;
	}

	.mitadHome {
	    width: 100%;
	}

	.mitadHome2 {
	    width: 0%;
	}

	.BigAge {
	    height: 30px;
	}


	.number404 {
	    text-align: center;
	    height: auto;
	}

	.llanta {
	    width: 100px;
	    height: 100px;
	}

	.txt4 {
	    font-size: 10em !important;
	    margin-inline-start: 20px;
	    margin-inline-end: 20px;
		}

	.txtData {
	    margin-block-start: 0em;
	    margin-block-end: 0em;
	    margin-inline-start: 0px;
	    margin-inline-end: 0px;
	    font-size: 1em;
	}



	.ops {
	    font-size: 2em;
	}
	.button {
	    font-size: 1.5em;
	    padding: 11px;
	    width: auto;
	    padding-top: 15px;
	    margin-top: 15px;
	    margin-bottom: 15px;
	}

	.header404 {
	    display: grid;
	    width: 100%;
	    height: auto;
	}

	.contf1, .contf2, .contf3 {
	    width: 96%;
	    font-size: 6px;
	    position: relative;
	}
section{
	    width: 100%;
}
	footer {
    width: 100%;
    display: block;
    margin-bottom: 0px;
    position: relative;
	}

	.imgESR {
	    position: initial;
	    margin: 0px;
	    right: 0px;
	    bottom: 0px;
	    width: 100%;
	    height: auto;
	}

	.imgLogoFR {
	    height: 50px;
	    width: auto;
	}
	.contf3 {
	    padding: 2%;
	}

	.C {
	    width: 30px;
	    height: 30px;
	}

	.contGridUs {
		grid-template-columns: auto;
	    width: 100%;
	}
	.titulo2 {
		height: auto;
	    display: block;
	    padding-top: 10px;
	}

	.ContService {
	    display: block;
	      border-bottom: var(--primary) solid 10px;
	}

	.IMGServ, .ContTxtServ2 {
	    width: 100%;
	}

	.titulo1 {
	    display: block;
	}

	.credes {
	    height: auto;
	    display: block;
	}

	.sliderAbout {
	    width: 100%;
	    margin-bottom: -150px;
	}

	.insideSlide {
		align-items: center;
	    height: auto;
	    display: grid;
	    margin-left: auto;
	    margin-right: auto;
	}
	.txtSLiderH1 {
	    font-size: 1.5em;
	}
	.txtSLider {
	    font-size: 1em;
	}

	.boxAbout {
	    top: -170px;
	    width: 98%;
	    height: auto;
	    margin-left: 1%;
	    margin-right: 1%;
	}

	.imgSlider {
	    width: 80%;
	    margin-left: 10%;
	    margin-right: 10%;
	    height: 100%;
	}

	.txtContSlider {
	    width: 90%;
	    height: 100%;
	    padding-left: 5%;
	    padding-right: 5%;
	    padding-bottom: 5%;
	}

	.movileR{
		display: none;
	}
	.imgCuenta {
	    width: 60px;
    	margin: 2% 2% 2% 2%;
	}

	.txtGridUs {
	    width: 100%;
	}
	.ContAbout {
	    width: 100%;
	    height: auto;
	    background: url(../images/HomeImage.jpeg) center no-repeat;
	}

	.txtGridUsPlain {
	    width: 90%;
	    font-size: 1.2em;
	    margin-right: 5%;
	    margin-left: 5%;
	}

	.titleGrid {
	    font-size: 2.5em;
	    text-align: center;
	    color: var(--primary);
	    margin: 0px;
	    margin-right: 5%;
	    margin-left: 5%;
	}

	.SubtitleName {
	    width: 100%;
	    height: 75px;
	    font-size: 1.5em;
	}
	.circleImgTittle {
	    width: 25px;
	    height: auto;
	}

	.iconGridUs {
	    width: 100%;
	}

	.ContCuentas {
	    display: block;
	    margin: 5%;
	    width: 90%;
	}
	.ContAjedresTittle {
	    width: 100%;
	    height: 90px;
	}

	.CT {
	    width: 20px;
	    height: 20px;
	}

	.imgHead {
        width: 250px;
		padding-bottom: 20px;
	}
	.contAnuInside {
        width: 100%;
		text-align: center;
	}

	.contAnuncio {
	    width: 100%;
	    height: auto;
	    display: block;
	    padding-bottom: 50px;
	}

	.countBotonUnique {
	    width: 100%;
	    margin: 0%;
	}

	.txtAnuncio1 {
	    font-size: 1.8em;
	}

	.txtNosotros {
	    width: 90%;
	    height: auto;
	    padding: 5%;
	    font-size: 1.3em;
	}

	.txtAboutUs {
	    height: auto;
	}

	.negariveRes{
		    display: grid;
	}

	.Banner {
	    height: 300px;
	    background: url(../images/imgBanner.jpeg) center no-repeat;
	        background-size: cover;
	}

	.R{
		display: none;
	}

		.txtAnuncio2 {
		    font-size: 2.5em;
		    margin: 0px;
		}

		.contAddress {
	       display: block;
	    padding-bottom: 5%;
	    margin-bottom: 0px;
	}

	.addresMi {
	    width: 100%;
	    height: auto;
	}

	.sliderMarcas {
	    height: 180px;
	    padding-top: 40px;
	}

	.slider .slide-track {
    	width: calc(160px * 14);
	}

	.imgMarcas {
	    height: 75px;
	    width: auto;
	}

		.slider {
	    height: 110px;
	}

	.contAnuncioIMG {
	    display: block;
	}

	.textoFloat {
		width: 100%;
	    height: auto;
	    position: relative;
	    background: white;
	    margin-top: -10px;
	}

	.textoFloatBTN {
	    height: auto;
	    position: relative;
	    background: white;
	}

	.h2txtAnuncio {
	    font-size: 1.5em;
	    color: black;
	    margin-bottom: 0px;
	    text-align: center;
	}

	.h3txtAnuncio {
	    font-size: .8em;
	    text-align: left;
	    display: inline;
	}

	.txtCondic {
	    font-size: .8em;
	    color: #bfbfbf;
	    text-align: center;
	}

	.logoBtn {
	    width: 25px;
	}

	.imgBack {
	    height: 8px;
	}

	.contMap {
	    height: auto;
	    position: relative;
	    display: block;
	    padding-bottom: 50px;
	}

	iframe{
		    height: 500px;
	}

	.contForm {
	    width: 90%;
	    height: auto;
	    position: relative;
	    background-color: #ffffff;
	    right: 5%;
	    left: 5%;
	    top: 8%;
	}

	.imgRedes {
	    margin: 5px;
	    height: auto;
	    width: 16px;
	}

	.contf3 {
	    padding: 2%;
	    position: absolute;
	    background: black;
	    width: 100px;
	    height: auto;
	    top: 0px;
	    right: 0px;
	}

	.tService {
	    font-size: 2em;
	}

	.booletword {
	    color: black !important;
	    font-size: 1.2em;
	}

	.imgBx {
	    height: auto;
	}
	.R{
		display: none;
	}

	.circleImg {
	    width: 15px;
	}

	/*Services*/
	.txtCiteP {
	    width: 90%;
	    font-size: 1em;
	    padding-top: 5%;
	    padding-left: 5%;
	    padding-right: 5%;
	}


	.boxCite {
	    width: 98%;
	    height: auto;
	    margin-left: 1%;
	    margin-right: 1%;
	}

	.tittleCar {
    width: 100%;
    height: 66px;
    font-size: 1em;
}

.contPhotoGalery {
    display: grid;
}

	.photoGalery {
    width: 94%;
    height: 330px;
    margin-left: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    margin-right: 3%;
	}

	.contTextGalery {
	    display: grid;
	}

	.txtDescGalery {
	    width: 92%;
	    padding-left: 4%;
	    padding-right: 4%;
	}

	.txtTitDesc {
	    font-size: 2em;
	}
	.textDesc {
	    font-size: 1em;
	}

	.contBotonGalery {
	    width: 100%;
	}

	.ttsH1 {
	    margin: 0px;
	    text-align: center;
	}

	.contLegales {
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 10%;
    width: 90%;
}

	.legalTiitle {
	    font-size: 25px;
	    line-height: 25px;
	    letter-spacing: 1px;
	}

	.directorCite {
    font-size: .8em;
}


}


/*     media para pantalla pequeÃƒÂ±a y horizontal */

@media (min-width:451px) and (max-width:861px) and (orientation: landscape) {
  body {
      max-width: 861px;
  }

	.logoImg {
	    width: 90%;
	    height: auto;
	    padding: 5%;
	}

	.contLogo {
	    width: 20%;
	    height: auto;
	}

	.contRedesResposive{
	    display: block;
    	width: 45%;
	}

	.C {
	    width: 50px;
	    height: 50px;
	}

	.ContCuentas {
	    display: block;
	    margin: 5%;
	    width: 90%;
	}

		.iconGridUs {
	    width: 100%;
	}

	.imgCuenta {
	    width: auto;
	    margin: 2% 2% 2% 2%;
	    height: 50px;
	}

	.txtGridUs {
	    width: 100%;
	}

	.titleGrid {
	    font-size: 2em;
	    text-align: center;
	    color: var(--primary);
	    margin: 0px;
	    margin-right: 5%;
	    margin-left: 5%;
	}
	.txtGridUsPlain {
	    width: 90%;
	    font-size: 1em;
	    margin-right: 5%;
	    margin-left: 5%;
	}

	.contH {
	    height: 130px;
	}

	.contName {
	    width: 45%;
	    border-bottom: var(--primary) solid 10px;
	    align-items: center;
	    display: inline-table;
	    padding-top: 25px;
	    padding-bottom: 25px;
	    /* width: 100%; */
	    height: auto;
	}

	.h1Header {
	    font-size: 1.5em;
	    text-align: center;
	    margin-block-start: 0px;
	    margin-block-end: 0px;
	    padding-top: 0px;
	    padding-bottom: 10px;
	}

	.ajedres {
	    height: auto;
	    position: absolute;
	    right: 0%;
	    width: 50%;
	}

	.contRedesResposive {
	    width: 35%;
	    display: block;
	    padding: 0px;
	    height: 70%;
	}

	.credes {
	    display: grid;
	    width: 100%;
	}

	.logoRedes {
	    width: 30px;
	    padding-top: 0px;
	    padding-bottom: 0px;
	    margin: 10px 10px 0px 10px;
	}


	.txtTel {
	    width: 100%;
	    font-size: 15px;
	}

	.telUp {
		margin: 0px;
	    margin-top: -15px;
	}

	.contAjedrezBig {
	    height: 82vh;
	    position: relative;
	}

	.mitadHome {
	    width: 100%;
	}

	.mitadHome2 {
	    width: 0%;
	}
	.logoRedes {
	    width: 30px;
	    padding-top: 0px;
	    padding-bottom: 0px;
	    margin: 10px 10px 0px 10px;
	}

	.sliderAbout {
	    margin-bottom: -150px;
	}

	.contAbout {
	    top: -100px;
	    width: 90%;
	    height: 100px;
	    margin-left: 5%;
	    margin-right: 5%;
	}

	.boxAbout {
	    top: -170px;
	    width: 98%;
	    height: 250px;
	    margin-left: 1%;
	    margin-right: 1%;
	    border-bottom: var(--primary) solid 10px;
	}

	.insideSlide {
	    height: 200px;
	}

	.txtContSlider {
	    padding-left: 3%;
	    width: 57%;
	}

	.txtSLiderH1 {
	    font-size: 1.5em;
	}

	.txtSLider {
	    font-size: 1em;
	}

.ContAbout {
    height: auto;
    background: url(../images/HomeImage.jpeg) center no-repeat;
    position: relative;
}

.SubtitleName {
    font-size: 1.2em;
    border-radius: 0px 0px 0px 0px;
    height: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

	.ttH1 {
	    text-align: left;
	}

	.circleImgTittle {
	    width: 25px;
	}
	.BigAge {
	    height: 25px;
	}
	.CT {
	    width: 20px;
	    height: 20px;
	}

	.txtNosotros {
	    width: 90%;
	    height: auto;
	    padding: 5%;
	    font-size: 1.3em;
	}

	.imgHead {
	    width: 250px;
	    padding-bottom: 20px;
	}

	.txtAnuncio1 {
	    font-size: 1.6em;
	}

	.txtAnuncio2 {
	    font-size: 2.5em;
	    margin: 0px;
	}

	.button {
	    font-size: 1.5em;
	    padding: 20px;
	}

	.contAnuncio {
        margin-bottom: 0px;
	    align-items: center;
	}

	.ttsH1 {
	    text-align: center;
	}
	.tituloPrincipalContServ {
	    padding-left: 2%;
	    padding-right: 2%;
	    width: 96%;
	}

	.circleImgTittle {
	    width: 25px;
	}
	.IMGServ {
	    width: 40%;
	}
	.ContTxtServ2 {
	    width: 60%;
	}

	.imgBx {
	    height: 200px;
	}

	.txtService {
	    padding-left: 5%;
	    padding-top: 5%;
	    padding-right: 5%;
	    padding-bottom: 5%;
	}

	.tService {
	    font-size: 1.8em;
	}

	.booletword {
	    font-size: 1em;
	}

	.addresMi {
	    width: 100%;
	    height: auto;
	}

	.contAddress {
        display: grid;
	    width: 100%;
	    padding-left: 0%;
	    padding-right: 0%;
	        padding-bottom: 5%;
	}
	.txtData {
	    margin: 0 0 0px;
	    margin-top: 0px;
	    margin-right: 0px;
	    margin-left: 0px;
	    display: block;
	    margin-inline-start: 20px;
	    font-size: 1em;
	}

	.imgRedes {
	    margin: 0px;
	    width: 20px;
	    height: auto;
	    border-radius: 0px;
	}
	.Banner {
	    height: 200px;
	    background: url(../images/imgBanner.jpeg) center no-repeat;
	    background-size: cover;
	}

	.BigAge {
        height: 20px;
	}

	.c {
	    width: 8px;
	    height: 8px;
	}

.txtAnuncio2 {
    font-size: 2em;
    margin: 10px;	
}

	.txtBannerCenter {
	    display: flow-root;
	    margin-top: 0%;
	}

	.sliderMarcas {
	    height: 180px;
	    padding-top: 40px;
	}

	.slider {
	    height: 110px;
	}

	.slider .slide-track {
	    width: calc(160px * 14);
	}
		.imgMarcas {
	    height: 70px;
	    width: auto;
	}

	.imgBx {
	    height: 200px;
	}


	.textoFloatBTN,.textoFloat {
	    height: 60px;
	    position: absolute;
	}

	.h2txtAnuncio {
	    font-size: .8em;
	        margin-bottom: -20px;
	}

	.h3txtAnuncio {
	    font-size: .8em;
	    text-align: left;
	    display: inline;
	}

	.imgBack {
	    height: 10px;
	}

	.txtCondic {
	    font-size: .8em;
	    color: #bfbfbf;
	    text-align: right;
	}

	.button {
	    font-size: 1.5em;
	    padding: 20px;
	}

	.logoBtn {
	    width: 20px;
	}

	.specialbtn{
		    font-size: 1em;
  		  padding: 10px;
	}

	.circleImg {
	    width: 15px;
	}

	.contForm {
	    width: 50%;
	    right: 2%;
	    top: 5%;
	    height: 560px;
	}

	iframe {
	    height: 400px;
	}

	.solidContForm {
	    width: 96%;
	    height: 96%;
	    margin: 2%;
	    background-color: black;
	    border-radius: 5px;
	    padding: 0%;
	    padding-top: 2%;
	}
	.txtCotiza3 {
	        font-size: 1em;
    	padding: 5px;
	}

	label {
	        font-size: .8em;
	}

	input[type=text], input[type=tel], input[type=email], select {
	width: 100%;
	    padding: 5px 10px;
	    margin: 2px 0;
	    border-radius: 10px;
	}
	textarea {
    height: 50px;
    padding: 5px 5px;
	}
	.contMap {
	    height: 600px;
	    padding-bottom: 0px;
	}

	form {
	    height: 100%;
	}

	input[type=submit] {
	    width: 80%;
	    
	    padding: 10px 15px;
	    margin: 8px 0;
	    text-align: center;
	    align-items: center;
	    margin-left: 10%;
	    margin-right: 10%;
	}
	.imgLogoFR {
	    height: 50px;
	}
	.txtCotiza3 {
		 font-size: 1.2em;
	    margin: 0px;
	    padding: 0px;
	}

	.imgLogoFR {
	    height: 50px;
	}

 .contf2, .contf3 {
    width: 20%;
}


.contf2{
	width: 60%;
}

	.imgBannerPublicidad {
	    height: 100%;
	}

	/*Services*/

	.boxCite {
    width: 98%;
    height: auto;
    margin-left: 1%;
    margin-right: 1%;
    top: -100px;
}

.txtCiteP {
    width: 90%;
    font-size: 1em;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
}

.sliderAbout {
    width: 100%;
    margin-bottom: -100px;
}

.tittleCar {
    font-size: 1em;
}

.photoGalery {
    width: 94%;
    height: 250px;
    margin-left: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-right: 1%;
}

.contTextGalery {
    display: grid;
}

.txtDescGalery {
    width: 92%;
    padding-left: 4%;
    padding-right: 4%;
}

.txtTitDesc {
    font-size: 2em;
}
.textDesc {
    font-size: .8em;
}
.contBotonGalery {
    width: 100%;
}

	.directorCite {
    font-size: .8em;
}


	.llanta {
	    width: 150px;
	    height: 150px;
	}

	.txt4{
	    font-size: 10em !important;
	    margin-left: auto;
	    margin-right: auto;
	}

	.number404 {
	
	    margin-top: 5px;
	    margin-bottom: 0px;
	    height: 150px;
	}
	.ops {
	    font-size: 3em;
	    margin: 0px;
	}

	.contAjedrezBig {
	    height: 100vh;
	    position: relative;
	}
}
